@import "./fonts.css";
@import "./main.css";
@import 'tailwindcss';

@plugin '@tailwindcss/typography';

@source '../../vendor/azzarip/utilities/resources/views/**/*.blade.php';
@source '../../vendor/azzarip/client/resources/views/**/*.blade.php';
@source '../../vendor/azzarip/teavel/resources/views/**/*.blade.php';


@theme {
  --color-primary: #16a34a;

  --color-background: #051f29;

  --font-head:
    sohne, lato, ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --font-sans:
    lato, lato, ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --font-text:
    gabarito, lato, ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --font-serif:
    merriweather, ui-serif, Georgia, Cambria, 'Times New Roman', Times, serif;
  --font-trajan:
    trajan, ui-serif, Georgia, Cambria, 'Times New Roman', Times, serif;
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

[x-cloak] {
    display: none !important;
}

